
<!DOCTYPE html>
<html>
<head>
<title>登陆到咔叽摄影论坛</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="stylish Sign in and Sign up Form A Flat Responsive widget, Login form web template,Flat Pricing tables,Flat Drop downs  Sign up Web Templates, Flat Web Templates, Login signup Responsive web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!--online_fonts-->
	<link href="//fonts.googleapis.com/css?family=Sansita:400,400i,700,700i,800,800i,900,900i&amp;subset=latin-ext" rel="stylesheet">
	<link href="//fonts.googleapis.com/css?family=Poiret+One" rel="stylesheet">
<!--//online_fonts-->
	<link href="/assets/css/adminstyle.css" rel='stylesheet' type='text/css' media="all" /><!--stylesheet-->
</head>
<body>
<h1>KJCMS后台登陆     </h1>

<div class="form-w3ls">
	
		

    <ul class="tab-group cl-effect-4">
 
		    
    </ul>
    <div class="tab-content">
        <div id="signin-agile">   
			<form action="/admin/admindologin" accept-charset="utf-8" method="post">
				
				<p class="header">用户名</p>
				<input type="text" name="username" placeholder=""  required="required">
				
				<p class="header">密码</p>
				<input type="password" name="password" placeholder="" onfocus="this.value = '';"  required="required">
				
				<input type="checkbox" id="brand" value="">
				<label style="font-family: '微软雅黑';" for="brand"><span></span> 记住账户？</label>
				
				<input style="font-family: '微软雅黑';" type="submit" class="sign-in" value="登陆">
			</form>
		</div>
		<div id="signup-agile">   
			<form role="form" id="back" action="/user/reg" method="post" class="login-form">
				
				<p class="header">用户名</p>
				<input type="text" name="username" placeholder="account"  required="required">
				
				<p class="header">邮箱</p>
				<input type="email" name="email" placeholder="Email"  required="required">
				
				<p class="header">密码</p>
				<input type="password" name="password" placeholder="Password"  required="required">
				
				<input style="font-family: '微软雅黑';" type="submit" class="register" value="立即注册">
			</form>
		</div> 
    </div><!-- tab-content -->
</div> <!-- /form -->	  
<p class="copyright">&copy; 2018  sign in and sign up sys. All Rights Reserved | Design by Master宋</p>
<!-- js files -->
<script type="text/javascript">
			$(function(){
				$("button").click(function(){
					var jsonStr = JSON.stringify($("#back").serializeJSON());//重要，将表单序列化 
					alert(jsonStr);
				    $.ajax({
				    	url:"/user/reg",//请求数据的地址 
				    	type:"post",//请求模式
				    	contentType: 'application/json',//请求内容的类型
				    	dataType:"json",//返回数据的类型
				    	data:jsonStr,//请求的数据
				    	success:function(data){//data是controller返回的数据
				    		$("#back").append(data.name);//向当前页面添加返回的数据
				    		$("#back").append(data.password);
				    		
				    	},
				    	error:function(a,b,c){//出错的处理方法
				    		alert(a);
				    		alert(b);
				    		alert(c);
				    	}
				    });
				});
			});
		</script>
<script src='/assets/js/jquery.min.js'></script>
<script src="/assets/js/index.js"></script>
<!-- /js files -->
</body>
</html>
